/* Global */
* {
  box-sizing: border-box;
}

button {
  border: none;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  height: 40px;
  padding: 8px 16px;
  min-width: 100px;
  border-radius: 2px;
}

button:hover {
  filter: brightness(115%);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: #030303;
  color: #ddd;
  font-family: "Press Start 2P", cursive;
}

h3 {
  margin: 16px 0 24px;
  color: #666;
}

/* Player Styles */
.pixelate {
  image-rendering: pixelated;
}

.character_sprite {
  position: absolute;
  margin: 0 auto;
}

.walk {
  animation: moveSpriteSheet 0.4s steps(4) infinite;
}

.move_north {
  bottom: -120px;
}

.move_south {
  bottom: -180px;
}

.move_east {
  bottom: 0px;
}

.move_west {
  bottom: -60px;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Stats Styles */
.game_container {
  width: 1260px;
  margin: 0 auto;
  letter-spacing: 0.5px;
  display: flex;
}

.stats {
  width: 50%;
}

.stat > span {
  color: dodgerblue;
}

.stat {
  margin-bottom: 16px;
}

/*  Controls Styles */
.controls {
  flex: 1;
}

/* TILES */
.row {
  height: 60px;
}

.tile {
  display: inline-flex;
  image-rendering: pixelated;
  /* border: 0.5px solid rgba(0, 0, 0, 0.1); */
}

/* ---------- Walkable ---------- */
/* 0 - grass */
.grass {
  background-image: url("./assets/walkable/grass.png");
}
/* 1 - road */
.road {
  background-image: url("./assets/walkable/concrete.png");
  background-size: cover;
}
/* 2 - dirt */
.dirt {
  background-image: url("./assets/walkable/dirt.png");
}
/* 3 - floor */
.floor {
  background-image: url("./assets/walkable/floor.png");
}
/* Obstacles */
/* 4 - water */
.water {
  background-image: url("./assets/obstacles/water.gif");
  background-size: cover;
}
/* 5 - tree */
.tree {
  background-image: url("./assets/obstacles/tree.png");
}
/* 6 - wall */
.wall {
  background-image: url("./assets/obstacles/wall.png");
}
/* 7 - rock */
/* 8 - fence */
.fence {
  background-image: url("./assets/obstacles/fence.png");
}
/* 9 - store */
.supplies1,
.supplies2 {
  background-image: url("./assets/obstacles/store.png");
}
