/* Global */
* {
  box-sizing: border-box;
}

body {
  background-color: #030303;
  color: #ddd;
  font-family: "Press Start 2P", cursive;
}

/* Player Styles */
.pixelate {
  image-rendering: pixelated;
}

.character_sprite {
  position: absolute;
  margin: 0 auto;
}

.walk {
  animation: moveSpriteSheet 0.4s steps(4) infinite;
}

.move_north {
  bottom: -120px;
}

.move_south {
  bottom: -180px;
}

.move_east {
  bottom: 0px;
}

.move_west {
  bottom: -60px;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Stats Styles */
.stats_container {
  width: 1260px;
  margin: 0 auto;
  letter-spacing: 0.5px;
}

.stat__title {
  color: dodgerblue;
}

.stat {
  margin-bottom: 16px;
}

/* TILES */
.row {
  height: 60px;
}

.tile {
  display: inline-flex;
  image-rendering: pixelated;
  /* border: 0.5px solid rgba(0, 0, 0, 0.1); */
}
/* Walkable */
.grass {
  background-image: url("./assets/walkable/grass.png");
}

.dirt {
  background-image: url("./assets/walkable/dirt.png");
}
.floor {
  background-image: url("./assets/walkable/floor.png");
}

.road {
  background-image: url("./assets/walkable/concrete.png");
  background-size: cover;
}
/* Obstacles */
.tree {
  background-image: url("./assets/obstacles/tree.png");
}
.water {
  background-image: url("./assets/obstacles/water.gif");
  background-size: cover;
}
.chest {
  background-image: url("./assets/obstacles/chest.png");
}
.wall {
  background-image: url("./assets/obstacles/wall.png");
}
.fence {
  background-image: url("./assets/obstacles/fence.png");
}
.store {
  background-image: url("./assets/obstacles/store.png");
}
