.pixelate {
  image-rendering: pixelated;
}

.character_sprite {
  margin: 0 auto;
  animation: moveSpriteSheet 1s steps(4) infinite;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.tile {
  display: inline-flex;
}

.tree {
  background-image: url("./assets/obstacles/tree.png");
}

.grass {
  background-color: green;
}
